.cart {
	position: relative;
}

.cart__img {}

.cart__count {
	position: absolute;
	top: 3px;
	right: -6px;

	display: inline-block;
	height: 25px;
	padding: 0 6px;
	line-height: 25px;

	background-color: var(--accentColor);
	border-radius: 40px;
	font-weight: 700;
}